.div {
    display: flex;
}

.event-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.events-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
}

.event-card {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    height: 250px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.event-card p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 15px;
}

.event-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.event-card button:hover {
    background-color: #0056b3;
}

.event-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.event-card-date {
    font-size: 1rem;
    color: #555;
}

.event-card-location {
    font-size: 1rem;
    color: #555;
}