.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: -200px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container h2 {
    font-size: 3.2rem;
    font-family: var(--montserrat);
    color: var(--green);
    position: relative;
    top: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 200px;
}

.grid-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-card h3 {
    font-family: var(--noto);
    font-size: 30px;
    color: var(--bluish-green);
}

.grid-card p {
    text-align: center;
    width: 60%;
    font-family: var(--noto);
    font-size: 18px;
}

@media (max-width: 767px) {
    .section {
        flex-direction: column;
        align-items: center;
    }

    .content-container h2 {
        font-size: 2.6rem;
        top: 50px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-card {
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .section {
        margin-top: 20px;
    }

    .content-container h2 {
        font-size: 2.8rem;
        top: 150px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}